{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main >
    <div class="container wow fadeIn">
        <h2 class="my-5 h2 text-center">Checkout form</h2>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <form method="POST" class="card-body" id ="payment_form">
                        {% csrf_token %}
                        <h3>Shipping address</h3>
                        <div class='hideable_shipping_form', id = 'hideable_shipping_form' >
                            <div class="md-form mb-5">
                                <label for="shipping_address" class="">Address*</label>
                                <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address' class='form-control' />
                            </div>
                            <div class="md-form mb-5">
                                <label for="shipping_address2" class="">Address 2 (optional)</label>
                                <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' />
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="country">Country</label>
                                    {{ form.shipping_country |safe}}
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <label for="shipping_zip">Zip</label>
                                    <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                                <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
                            </div>
                        </div>
                        {% if default_shipping_address %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                            <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|safe|truncatechars:10 }}</label>
                        </div>
                        {% endif %}
                        <hr>
                        <h3>Payment option</h3>
                        <div class="d-block my-3">
                            {% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name |safe}}" name="payment_option" value="{{ value |safe}}" type="radio" class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name|safe }}">{{ name |safe}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                {% include "order_snippet.html" %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
{% block extra_scripts %}
<script>
    var hideable_shipping_form = document.getElementById("hideable_shipping_form");
    var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
    
    use_default_shipping.addEventListener('change', function() {
      if (this.checked) { document.getElementById('shipping_address').value = '{{default_shipping_address.street_address | safe }}'; document.getElementById('shipping_address2').value = '{{default_shipping_address.apartment_address | safe }}'; document.getElementById('id_shipping_country').value = '{{default_shipping_address.country | safe }}'; document.getElementById('shipping_zip').value = '{{default_shipping_address.zip | safe }}'.toString();} 
      else
       { document.getElementById("payment_form").reset();}
    })
</script>
{% endblock extra_scripts %}